!!!5
html
  head
    title #{config.web.header}
    link(href="#{config.web.style}.css",rel="stylesheet")
    link(rel="alternate",type="application/rss+xml", href="rss")
    link(rel="stylesheet",href="http://yandex.st/highlightjs/7.3/styles/tomorrow.min.css")
    script(src="http://yandex.st/highlightjs/7.3/highlight.min.js")
    script.
      hljs.initHighlightingOnLoad();
  body
    h1 <a href="/">#{config.web.header}</a>
    each post, index in posts
      div.post(id="post#{index}",itemscope,itemtype="http://schema.org/BlogPosting")
        div.info
          a.date(title=post.date,href="/#{post.id}") #{post.rdate}
          - var wc = post.content.split(" ").length
          meta(itemprop="wordCount",content=wc)
          meta(itemprop="dateModified",content=post.date)
        div.postbody(itemprop="articleBody")
          !=  post.content
