!!!5
html
  head
    title #{config.web.header}
    link(href="#{config.web.style}.css",rel="stylesheet")
    link(rel="alternate",type="application/rss+xml", href="rss")
  body
    h1 <a href="/">#{config.web.header}</a>
    each post, index in posts
      div.post(id="post#{index}")
        div.info
          a.date(title=post.date,href="/#{post.id}") #{post.rdate}
        !=  post.content
